<div class="container-card__portfolio">

<%= link_to front_end_path do %>
  <div class="card__portfolio">
    <div class="content-card__portfolio">
      <figure>
        <%= image_tag ("project1-auto-text.jpg"), class: "img-portfolio" %>
            <figcaption>Front End</figcaption>
        </figure>
    </div>
  </div>
<% end %>
<%= link_to full_stack_path do %>
  <div class="card__portfolio">
    <div class="content-card__portfolio">
        <figure>
          <%= image_tag ("project2-popup.jpg"), class: "img-portfolio" %>
            <figcaption>Full Stack</figcaption>
        </figure>
    </div>
  </div>
<% end %>

</div>

<!-- MOVING IMAGES -->

  <div class="imgDoodle8">
    <%= image_tag ("object8.png") %>
  </div>

  <div class="imgDoodle9">
    <%= image_tag ("object9.png") %>
  </div>
</div>

<script type="text/javascript" src="vanilla-tilt.js"></script>
<script>
  VanillaTilt.init(document.querySelectorAll(".card__portfolio"),{
  max: 15,
  speed: 1000,
  glare: false,
  "max-glare": 1,
  });
</script>
