<div class="container-card__portfolio">

  <%= link_to 'https://ovninb-juleschevrant.herokuapp.com/', class: "link-to" do %>
    <div class="card__portfolio">
      <div class="content-card__portfolio">
          <figure>
            <%= image_tag ("ovninb.png"), class: "img-portfolio" %>
              <figcaption>Clone Airbnb (Ovni'nb)</figcaption>
          </figure>
      </div>
    </div>
  <% end %>

</div>

<!-- MOVING IMAGES -->

<div class="imgDoodle5">
  <%= image_tag ("object7.png") %>
</div>

<div class="imgDoodle6">
  <%= image_tag ("object6.png") %>
</div>

<div class="imgDoodle7">
  <%= image_tag ("object6.png") %>
</div>

<script type="text/javascript" src="vanilla-tilt.js"></script>
<script>
  VanillaTilt.init(document.querySelectorAll(".card__portfolio"),{
  max: 15,
  speed: 1000,
  glare: false,
  "max-glare": 1,
  });
</script>
